.container {
  display: flex;
  width: 100%;
  border-radius: 5px;
  color: #31b0a0;
}

.singleButton:first-child {
  border-radius: 4px 0px 0px 4px;
}

.singleButton:last-child {
  border-radius: 0px 4px 4px 0px;
  border-right: 1px solid #31b0a0;
}

.border {
  border-right: none;
}

.singleButton {
  border-top: 1px solid #31b0a0;
  border-left: 1px solid #31b0a0;
  border-bottom: 1px solid #31b0a0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s;
}

.active {
  background-color: #31b0a0;
  color: white;
}

.singleButton:hover {
  cursor: pointer;
  background: #46d8c4;
  transition: 0.3s;
  color: white;
}

.small {
  height: 30px;
  font-size: 10px;
}

.medium {
  height: 40px;
  font-size: 14px;
}

.large {
  height: 50px;
  font-size: 18px;
}
