.input {
  border-top: none;
  border-left: none;
  border-right: none;
  padding-bottom: 0px;
  text-indent: 5px;
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  outline: none;
  position: relative;
  height: 30px;
  display: flex;
  align-items: flex-end;
  margin-top: 5px;
  width: 100%;
}

.label {
  color: #555c5b;
  position: absolute;
  display: block;
  top: 5px;
  left: 5px;
  transition: 0.3s ease-in-out;
}

.noPlaceholder input::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.placeholder input::-webkit-input-placeholder {
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}

.labelTop {
  color: #555c5b;
  position: absolute;
  top: 0px;
  left: 5px;
  font-size: 8px;
  transition: 0.3s ease-in-out;
}

.input:focus {
  outline: none;
}
